{{#each posts}}
<div class="mx-3 mt-4 card">
  <div class="card-header text-center">
    <a href="#">{{title}}</a>
  </div>
  <div class="card-body">
    <p class="card-text">{{post_content}}</p>
  </div>
  <div class="card-footer text-muted text-center">
    Created By: {{user.username}} | {{created_at}} | {{comments.length}} Comment(s)
  </div>
</div>
{{/each}}